.photo-grid {
    margin: 0 auto;
    max-width: 1184px;  
 
  }
  
  @media screen and (max-width: 1200px) {
    .photo-grid {
      max-width: 928px;     
    }
  }
  @media screen and (max-width: 940px) {
    .photo-grid {
      max-width: 720px;     
    }
  }
  @media screen and (max-width: 700px) {
    .photo-grid {
      max-width: 288px;     
    }
  }