.cover__subtitle {
  max-width: 360px;
  height: auto;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  
}



@media screen and (max-width: 600px) {
  .cover__subtitle {
    max-width: 288px;
    line-height: 16px;
    font-size: 14px;
  }
}