.footer__copyright {
  font-family: 'Inter';
  max-width: 186px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 0 0;
  text-transform: none;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 12px;
     text-transform: none;
  text-decoration: none;
  }
}
