.cover__title {
  max-width: 560px;
  text-align: center;
  line-height: 76px;
  font-style: normal;
  font-size: 72px;
  font-weight: 900;
  margin: 0 auto 32px;
  color: #ffffff;
  z-index: 1;
  
}




@media screen and (max-width: 600px) {
  .cover__title {
    max-width: 230px;
    line-height: 35px;
    font-size: 32px;
    margin: 0 0 16px;
  }
}