.cover__title {
  font-family: 'Inter';
  max-width: 560px;
  height: 152px;
  line-height: 76px;
  font-style: normal;
  font-size: 72px;
  font-weight: 900;
  margin: 0 auto 32px;
  color: #ffffff;
  z-index: 1;
  
}




@media screen and (max-width: 600px) {
  .cover__title {
    max-width: 288px;
    height: 70px;
    line-height: 35px;
    font-size: 32px;
    font-weight: 900;
    margin: 0 0 16px 0;
  }
}