.place {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    max-width: 984px;
    margin: 0;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-areas: "title web" "img text";
  }
  @media screen and (max-width: 1024px) {
    .place {
      max-width: 928px;
      row-gap: 48px;
      column-gap: 32px;
    }
  }
  @media screen and (max-width: 768px) {
    .place {
      max-width: 720px;
      row-gap: 48px;
      column-gap: 28px;
    }
  }
  @media screen and (max-width: 600px) {
    .place {
      max-width: 320px;
      row-gap: 32px;
      grid-template-areas: "title" "web" "img" "text";
    }
  }